streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
openpyxl

python-dotenv
groq

chromadb

sentence-transformers==2.7.0
transformers==4.41.2

langchain
langchain-community
langchain-text-splitters

pymupdf
python-docx